.idea/
venv/
logs/
DjangoEduSysDemo/__pycache__/
apps/course/__pycache__/
apps/operation/__pycache__/
apps/organization/__pycache__/
apps/users/__pycache__/
apps/utils/__pycache__/
extra_apps/xadmin/__pycache__/
extra_apps/xadmin/plugins/__pycache__/
extra_apps/xadmin/templatetags/__pycache__/
extra_apps/xadmin/views/__pycache__/
apps/course/migrations/0001_initial.py
apps/course/migrations/__pycache__/
apps/operation/migrations/0001_initial.py
apps/operation/migrations/__pycache__/
apps/organization/migrations/0001_initial.py
apps/organization/migrations/0002_courseorg_category.py
apps/organization/migrations/0003_auto_20180521_1117.py
apps/organization/migrations/__pycache__/
apps/users/migrations/0001_initial.py
apps/users/migrations/__pycache__/
extra_apps/xadmin/migrations/0001_initial.py
extra_apps/xadmin/migrations/__pycache__/
apps/course/migrations/0002_course_course_org.py
apps/organization/migrations/0004_teacher_image.py
apps/course/migrations/0003_course_category.py
apps/course/migrations/0004_course_tag.py
apps/course/migrations/0005_video_url.py
apps/course/migrations/0006_video_learn_times.py
apps/course/migrations/0007_auto_20180524_1629.py
media/course/
media/courses/2018/05/web_HpGaHGf.jpg
media/courses/2018/05/web_X1UvWft.jpg
media/image/
media/teacher/2018/05/image_VHtPaDP.png
