.idea/
venv/
logs/
DjangoEduSysDemo/__pycache__/
apps/course/__pycache__/
apps/operation/__pycache__/
apps/organization/__pycache__/
apps/users/__pycache__/
apps/utils/__pycache__/
extra_apps/xadmin/__pycache__/
extra_apps/xadmin/plugins/__pycache__/
extra_apps/xadmin/templatetags/__pycache__/
extra_apps/xadmin/views/__pycache__/
apps/course/migrations/
apps/operation/migrations/
apps/organization/migrations/
apps/users/migrations/
extra_apps/xadmin/migrations/
media/course/
media/courses/
media/image/
media/teacher/
media/org/
